<!-- Navbar Light -->
<nav
  class="navbar navbar-expand-lg navbar-light bg-white z-index-3 py-3">
  <div class="container">
    <a class="navbar-brand" href="{% url 'tasks:index' %}" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      Task Forge
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
     <ul class="navbar-nav d-flex justify-content-center align-items-center flex-grow-1">
        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'tasks:team-list' %}">Teams</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'tasks:worker-list' %}">Workers</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'tasks:project-list' %}">Projects</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'tasks:task-list' %}">Tasks</a>
        </li>
      </ul>

       <ul class="navbar-nav d-flex align-items-center ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item px-3">
            <a class="btn bg-gradient-primary mb-0 d-flex align-items-center" href="{% url 'logout' %}">
              👤 {{ user.username }} | Logout
            </a>
          </li>
        {% else %}
          <li class="nav-item px-3">
            <a class="btn bg-gradient-primary mb-0" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->