{% extends 'layouts/base-presentation.html' %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header text-white">
          <h4 class="mb-0">{{ object|yesno:"Update,Create" }} Position</h4>
        </div>
        <div class="card-body">
          <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Submit" class="btn btn-primary">
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}