{% extends 'layouts/base-presentation.html' %}

{% block title %}Workers{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-9">
    <h2 class="mb-4">Team: {{ team.name }}</h2>
        </div>
      <div class="col-1">
       <a href="{% url 'task:team-update' pk=team.id %}" class="btn btn-info" >
          Edit
       </a>
        </div>
       <div class="col-1">
       <a href="{% url 'task:team-delete' pk=team.id %}" class="btn btn-danger" >
            Delete
       </a>
        </div>
    </div>

    <div class="mb-3">
      <strong>Leader:</strong> {{ team.lead.username }}
    </div>
    <div class="mb-3">
      <strong>Description:</strong> {{ team.description }}
    </div>
    <div class="mb-3">
      <strong>Members:</strong>
      <ul>
        {% for member in team.members.all %}
          <li>{{ member.username }}</li>
        {% empty %}
          <li>No members in this team.</li>
        {% endfor %}
      </ul>
    </div>
  
    <h4 class="mt-4 mb-3">Team Projects</h4> 
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Budget</th>
          <th>Deadline</th>
          <th>Completion</th>
        </tr>
      </thead>
      <tbody>
        {% for project in team.projects.all %}
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.budget }}</td>
          <td>{{ project.deadline }}</td>
          <td>
            <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-xs">{{ project.completion_percentage }}%</span>
                    <div class="progress w-50">
                      <div class="progress-bar bg-info" role="progressbar"
                        style="width: {{ project.completion_percentage }}%;"
                        aria-valuenow="{{ project.completion_percentage }}"
                        aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                  </div>
          </td>
        </tr>
          {% empty %}
          There is no projects
      {% endfor %}
      </tbody>
    </table>

    <a href="{% url 'tasks:team-list' %}" class="btn btn-secondary mt-3">Back to Team List</a>
  </div>
{% endblock content %}